//$font-family-sans-serif: 'Poppins', sans-serif;
$legend-font-weight: normal;
$blue: #6571FF;
$cyan: #5ab7ad;

  $indigo: #8252ED;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #F28521;
$yellow: #F28521;
$green: #198754;
$teal: #5ab7ad;
$font-size-base: .9rem;

$form-feedback-valid-color: $green;
$form-feedback-invalid-color: $red;
$pagination-active-bg: $cyan;
